*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background: radial-gradient(#fff,#ffd6d6);
}

#working{
    min-height: 58vh;
    position: relative;
    margin-bottom: 120px;
}
.row2{
    display: flex;
    float: left;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.col22 img{
    height: 19rem;
    position: relative;
    margin-top: 70px;
    width: 16rem;
    box-shadow: 0 5px 30px rgba(0.2, 0.2, 0.2, 0.9);
}
.col1{
    flex-basis: 50%;
    min-width: 250px;
}
 .col22 .p-name{
    font-size:35px;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
 }
 .col22 .p-price{
     font-size: 20px;
     text-align: center;
     color: #555;
 }
 .col22 .p-detail{
     padding-top: 10px;
     text-align: center;
     position: relative;
     width: 16rem;
     font-size: 18px;

 }
 .container{
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  .title img{
      right: 0;
      position: absolute;
  }
  .container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }
   form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
   }
   form .category{
     display: flex;
     width: 80%;
     margin: 14px 0 ;
     justify-content: space-between;
   }
   form .category label{
     display: flex;
     align-items: center;
     cursor: pointer;
   }
   form .category label .dot{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
   #dot-1:checked ~ .category label .one,
   #dot-2:checked ~ .category label .two,
   #dot-3:checked ~ .category label .three{
     background: #9b59b6;
     border-color: #d9d9d9;
   }
   form input[type="radio"]{
     display: none;
   }
   form .button{
      display: inline-block;
      background: orangered;
      color: white;
      padding: 8px 30px;
      margin: 30px 0;
      border-radius: 40px;
      font-weight: 600;
      font-size: 20px;
      transition: 0.5s ease;
      width: 310px;
      text-align: center;
      cursor: pointer;
      border: none;
  }
  form .button:hover{
      background-color: black;
  }
  .button a{
      text-decoration: none;
      color: white;
  }
  p{
      text-align: center;
  }
   @media(max-width: 584px){
   .container{
    max-width: 100%;
  }
  form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }
    form .category{
      width: 100%;
    }
    .content form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 5px;
    }
    }
    @media(max-width: 459px){
    .container .content .category{
      flex-direction: column;
    }
  }